.typo {
    position: relative;
    .typo__label{
        &:before, &:after{
            position: absolute;
            line-height: 1.25em;
            display: inline-block;
            margin: 0 calc(0.5em + 2px);
            padding: 0 2px;
            white-space: nowrap;
            color: #7d7d7d;
            background-image: linear-gradient(to bottom, #ffffff, #ffffff);
            background-size: 100% 5px;
            background-repeat: no-repeat;
            background-position: center;
            left: 0;
            font-size: 14px;
            transition: color 0.3s;
            z-index: 9;
        }
        &:before{
            content: attr(data-label);
            top: 8px;
        }
        &:after{
            content: attr(data-error);
            bottom: 8px;
            transition: transform 0.3s;
            transform: translateY(calc(100% + 6px));
            visibility: hidden;
        }
    }
    &.error{
        .typo__input{
            border-color: #f00;
        }
        .typo__label{
            &:before, &:after{
                color: #f00;
            }
            &:after{
                transform: translateY(0);
                visibility: visible;
            }
        }
    }

    .clear__button{
        height: 25px;
        width: 25px;
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        padding: 0;
        visibility: hidden;
        transition: visibility 0.3s ease-in-out;
        &-icon{
            display: block;
            height: 25px;
            width: 25px;
            font-size: 1.5rem;
            transition: color 0.3s ease-in-out;
            &:before{
                content: '\00d7'
            }
        }
        &:hover{
            visibility: visible;
            .clear__button-icon{
                color: #f00;
            }
        }
    }
    &.open{
        .clear__button{
            visibility: hidden;
        }
    }

}